POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_NAME=foodgram
DB_HOST=db
DB_PORT=5432
SECRET_KEY=django-insecure-ixmz$!#25j^q6b5-)7i_h!_2-qizso_&80lfh^j(vrc40+(9b9
DEBUG=False